body {
  font-family: "Lato","Calibri","sans-serif";
  font-weight: 300;
  color: rgb(200, 200, 200);
}

header {
  width: 99%;
  padding: 25px;
  /*border: 1px dashed red;*/
}

section {
  /*border: 1px dashed red;*/
  padding: 10px 200px 10px 200px;
}

h1 {
  color: steelblue;
  font-size: 30px;
}

.content {
  /*width = 99%;*/
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid rgb(200, 200, 200);
}

.hoverRightArrow:hover #title1 {
  font-weight: 400;
}

.hoverRightArrow:hover #arrow1 {
  transform:rotateZ(45deg);
  color: steelblue;
}

.hoverDownArrow:hover #title1 {
  font-weight: 400;
}

.hoverDownArrow:hover #arrow1  {
  color: steelblue;
}

.arrowIcon {
  color: rgb(200, 200, 200);
}

/*.arrowIcon:hover {
  transform:rotateZ(45deg);
  color: steelblue;
}*/
