.no-collapse {
  width: 1050px;
  margin: 0 auto;
}

body {
  font-family: "Lato","Calibri","sans-serif";
  font-weight: 300;
  color: rgb(200, 200, 200);
}

header {
  width: 99%;
  padding: 25px;
  /*border: 1px dashed red;*/
}

section {
  /*border: 1px dashed red;*/
  padding: 10px 200px 10px 200px;
}

h1 {
  color: steelblue;
  font-size: 30px;
}

.not-visible {
  height: 1px;
  overflow: hidden;
}

.content {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid rgb(200, 200, 200);
}

.arrowIcon {
  color: rgb(200, 200, 200);
}

/* Override FontAwesome sizing & color */
.fa-1x {
  font-size: 0.85em !important;
}

.fa-arrow-down {
  color: steelblue !important;
}

/* Begin : Arrow #1 and Title #1 hover */

.hoverRightArrow:hover #title1  {
  font-weight: 400;
}

.hoverRightArrow:hover #arrow1 {
  transform:rotateZ(45deg);
  /*-webkit-transform:rotateZ(45deg);*/
  color: steelblue;
}

.hoverDownArrow:hover #title1 {
  font-weight: 400;
}

.hoverDownArrow:hover #arrow1 {
  color: steelblue;
}

/* End : Arrow #1 and Title #1 hover */

/* Begin : Arrow #2 and Title #2 hover */

.hoverRightArrow:hover #title2  {
  font-weight: 400;
}

.hoverRightArrow:hover #arrow2 {
  transform:rotateZ(45deg);
  /*-webkit-transform:rotateZ(45deg);*/
  color: steelblue;
}

.hoverDownArrow:hover #title2 {
  font-weight: 400;
}

.hoverDownArrow:hover #arrow2 {
  color: steelblue;
}

/* End : Arrow #2 and Title #2 hover */

/* Begin : Arrow #3 and Title #3 hover */

.hoverRightArrow:hover #title3  {
  font-weight: 400;
}

.hoverRightArrow:hover #arrow3 {
  transform:rotateZ(45deg);
  /*-webkit-transform:rotateZ(45deg);*/
  color: steelblue;
}

.hoverDownArrow:hover #title3 {
  font-weight: 400;
}

.hoverDownArrow:hover #arrow3 {
  color: steelblue;
}

/* End : Arrow #1 and Title #1 hover */
